<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GreenRoute</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />

</head>
<body>

<header>
    <div class="logo">
    </div>
</header>

<h1>Wellcome to GreenRoute</h1>

<nav>
    <ul>
        <li><a href="location_list">Locations</a></li>
        <li><a href="maintenance_list">Maintenance Companies</a></li>
    </ul>
</nav>

<section>

    <div class="formulario">
        <form action="#" id="formulario" method="POST">
            <p class="reclamo">Recived our newsettler<br><span class="titulo">Roads Information</span><br>FREE</p>
            <div class="contenido">
                <label for="road">Road</label><br>
                <input type="text" id="road" name="Road" placeholder="Road"><br>
                <label for="length">Length</label><br>
                <input type="text" id="length" name="Length" placeholder="Length"><br>
                <label for="toll">Toll</label>
                <input type="text" id="toll" name="Email" placeholder="Toll"><br>
                <label for="location">Location</label><br>
                <input type="text" id="location" name="País" placeholder="Location"><br>
                <button type="submit" id="boton" value="Register">Register</button>
            </div>
        </form>
    </div>

</section>

<<footer>
    <div id="contain">
        <div id="atencion">
            <ul>
                <li><a href="#">
                    <h4>Customer support</h4>
                </a></li>
                <li><a href="#">Roads</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Radars</a></li>
                <li><a href="#">Station Service</a></li>
                <li><a href="#">Petrol Station</a></li>
            </ul>
        </div>
        <div id="cuentas">
            <ul>
                <li><a href="#">
                    <h4>Services</h4>
                </a></li>
                <li><a href="#">Hotels</a></li>
                <li><a href="#">Rest areas</a></li>
                <li><a href="#">SOS Post</a></li>
                <li><a href="#">Tunnel</a></li>
            </ul>
        </div>
        <div id="nosotros">
            <ul>
                <li><a href="#">
                    <h4>About us</h4>
                </a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Map</a></li>
                <li><a href="#">Partners</a></li>
            </ul>
        </div>
    </div>
    <p>&copy; WebSite developed by GreenTeam | All rights reserved.</p>
</footer>

</body>
</html>